/* Templates -------------------------------------------------------------*/

.template-hd-div{
  background-color: #12343b;
  padding: 4vw 4vw 4vw 4vw!important ;
}
.template-hd-div h2{
  text-align: center;
  color:#fecb88 ;
   font-size: 5vw;
   font-weight: bold;
   margin: 0;
}

.template-item-box-hd{
  color: white;
  font-size: 3vw;
  padding: 1vw 4vw!important;
/*  font-weight: bold;*/
  font-family: sans-serif;
  margin-top: 2vw!important;
}
.template-item-box-comman{
  background-color: white;
  width: 100%;
  height: 30vw;
  margin: 1.5vw;
  box-shadow: 0px 1px 3px 0px white, 0px 0px 0px 1px white;
  transition: .5s ease-in-out;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  cursor: pointer;
}
.template-item-box-comman::before{
  content: "Coming Soon";
  position: absolute;
  width: 100%;
  left: 0;
  padding: .5vw 0vw;
  text-align: center;
  top: 40%;
  font-size: 2vw;
  color: #12343b;
  background-color: #fecb88;
  transition:  0.5s ease-in-out;
  border: .2vw solid white;
}
.template-item-box-comman:hover{
  transform: scale(1.4,1.4) translateY(-50px);
  transition: transform 0.4s ease-in-out;
}
.template-item-box-comman:hover::before{
  padding: 0px;
  top: -11%;
  transition:  0.5s ease-in-out;
}

.fresher-tmp1{
  background-image: url('../img/fresher_tp1.jpeg');
}
.fresher-tmp1::before{
  content: "F-TEMPLATE 1";
}




.mid-tmp1{
  background-image: url('../img/mid_tp1.jpeg');
}
.mid-tmp1::before{
  content: "I-TEMPLATE 1";
}
/*media query*********************************************************************/
/*extra small*/
@media screen and (max-width:576px){
  .template-hd-div.template-hd-div-mb{
    background-color: #12343b;
  }
  .template-hd-div{
    background-color: #fecb88;
  }
  .template-hd-div h2{
    color: #12343b;
    font-size: 13vw;
  }
  .template-item-box-comman:hover{
  transform: scale(1,1.4) translateY(-100px);
  }
  .template-item-box-hd{
    font-size: 6vw;
    padding-left: 5vw!important;
  }
  .template-item-box-comman{
    height: 125vw;
    margin-bottom: 6vw!important;
  }
  .template-item-box-comman::before{
    font-size: 5vw;
  }
  .template-item-box-comman:hover::before{
  top: -6%;
  }
  
}


/*small*/
@media screen and (min-width:577px) and (max-width:767px){

   .template-hd-div{
    background-color: #fecb88;
  }
  .template-hd-div.template-hd-div-mb{
    background-color: #12343b;
  }
  .template-hd-div h2{
    color: #12343b;
    font-size: 13vw;
  }
  .template-item-box-comman:hover{
  transform: scale(1,1.4) translateY(-130px);
  }
  .template-item-box-hd{
    font-size: 6vw;
  }
  .template-item-box-comman{
    height: 120vw;
    margin-bottom: 6vw!important;
  }
  .template-item-box-comman::before{
    font-size: 5vw;
  }
  .template-item-box-comman:hover::before{
  top: -6%;
  }
}


/*mediam*/
@media screen and (min-width:768px) and (max-width:991px){
  
}


/*large*/
@media screen and (min-width:992px) and (max-width:1199px){
  
}


/*extra large*/
@media screen and (min-width:1200px){
  
}